# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.env
.venv/
venv/
env/


# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Model files (ML)
# =========================
*.pkl
*.joblib


# =========================
# FastAPI / Uvicorn
# =========================
*.sqlite3
*.dbmodels/ 
