# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.env
.venv/
venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/
*.ipynb

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Model files (ML)
# =========================
*.pkl
*.joblib

# =========================
# Data files (optional - لو مش عايزة ترفعي الداتا)
# =========================
data/
*.csv
*.xlsx

# =========================
# FastAPI / Uvicorn
# =========================
*.sqlite3
*.dbmodels/ 
